@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
    color: #f5f5f5;
    background: #1e1e1e; /* Cor de fundo escura */
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex; /* Flex para organizar a sidebar e o conteúdo */
}

.container {
    flex-grow: 1; /* Permite que a container use toda a largura restante */
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.skin-wrapper {
    margin-bottom: 20px;
}

.skin-image {
    width: 150px;
    height: 270px;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s;
}

.skin-image:hover {
    transform: scale(0.8);
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #696c6e;
}

.sidebar {
    width: 240px;
    height: 100vh;
    background: #293949; /* Cor escura para a sidebar */
    position: fixed; /* Sidebar fixa à esquerda */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra na sidebar */
}

#leftside-navigation {
    list-style: none; 
    padding: 0; 
}
#leftside-navigation li a i {
    margin-right: 10px; 
    font-size: 20px; 
}

#leftside-navigation li a {
    color: white; 
    text-decoration: none;
    display: flex; 
    align-items: center;
    padding: 15px 25px; 
    font-size: 14px;
    transition: background-color 0.3s, color 0.6s; 
}

#leftside-navigation li a:hover {
    background-color: #1a53bc; 
    color: white; 
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin: 20px 0; 
    padding-left: 250px;
}

.user-card {
    background: #2c2c2c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: center;
    flex: 1 1 calc(26% - 20px); 
    box-sizing: border-box; 
    max-width: 250px; 
    height: 80px; 
}
.user-card {
    background: #2c2c2c;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin: 10px; /* Espaçamento entre os itens */
    width: 120px; /* Largura ajustada para as caixas */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Animação suave */
}

.user-card:hover {
    transform: translateY(-5px); /* Levanta a caixa ao passar o mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); /* Aumenta a sombra */
}


/*edit*/

